<!DOCTYPE html>
<html>
<head>
    <title>Auto Reply Dashboard</title>
</head>
<body>

<h2>Auto Reply Dashboard</h2>
<p>✅ You are logged in successfully</p>

<p><strong>Your API Key:</strong> {{ api_key }}</p>

<hr>

<h3>Upgrade Plan</h3>

<form action="/upgrade-ui" method="POST">
    <button type="submit">Upgrade to PRO 🚀</button>
</form>

<textarea id="message" placeholder="Type a message..." rows="4" cols="50"></textarea><br><br>
<button type="button" onclick="sendMessage()">Send</button>

<p><b>Reply:</b></p>
<div id="reply"></div>

<hr>
<h3>Recent Messages</h3>

{% for msg, rep in history %}
    <p><b>You:</b> {{ msg }}</p>
    <p><b>Bot:</b> {{ rep }}</p>
    <hr>
{% endfor %}

<br>
<a href="/logout">Logout</a>


<script>
async function sendMessage() {
    const msg = document.getElementById("message").value;

    const res = await fetch("/auto-reply", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({ message: msg })
    });

    const data = await res.json();
    document.getElementById("reply").innerText = data.reply;
}
</script>

</body>
</html>